*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    color: white;
}
li,ul{
    text-decoration: none;
    list-style: none;
}
header{
    background-color:black;
    max-height: auto;
    min-height: 60vh;
    
}
h1{
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    text-shadow: -4px 4px red;
    font-size: 14vh;
}
h2,h3{
    color: black;
    text-shadow: -4px 4px #00FEFE;
    text-transform: uppercase;
    text-align: center;
    padding-top: 10%;
    font-size: 12vh;
    font-family: Arial,sans-serif;
}
.container{
    min-width: 50vh;
    max-width: 150vh;
    margin: 0 auto;
}
section{
    min-height: 100vh;
    max-height: auto;
    background-color:lightgray;
    
}
footer{
    min-height: 20vh;
    max-height: auto;
    background-color:darkslategray;
}


/*/////////////////////////////*/


menu{
    margin-top: 10vh;
    text-align: center;
}
menu a{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 2vh
}
menu button{
    border-radius: 5px;
    background: white;
    padding:10px 30px;
    height: 5vh;
}
menu button:hover{
    background-color: darkred;
    border-color: deepskyblue;
}
menu button a:hover{
    color:deepskyblue;
}


/*/////////////////////////////*/


.img {
    padding-top: 20vh;
    margin: 0 auto;
    text-align: center;
}


/*/////////////////////////////*/

.content p{
    color: black;
    font-size: 3vh;
    font-family: Arial , sans-serif;
    color: aqua;
    text-transform:capitalize;
    /* text-shadow:-2px 2px darkred;*/
    text-align: center
}
.content{
    background: black;
}
.content span{
    color: red;
    /*text-shadow:-2px 2px deepskyblue */;
}
